body {
  background-color: #f3f3ec;
}

h1,
h2,
h3,
p,
a,
label,
input,
select,
li,
button {
  color: #858484;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@media only screen and (max-width: 769px) {

  #content {
    text-align: center;
  }

  #mobile-header {
    font-size: 11vw;
  }

  #mobile-menu {
    font-size: 9vw;
    margin: -25px 30px 0 30px;
    padding-bottom: 5px;
    border-bottom: 2px solid #858484;
  }

  #mobile-menu:active {
    color: #b8b8b8;
  }

  #nav-links {
    text-align: center;
    margin: -20px 40px 0 40px;
    padding: 10px;
    font-size: 6vw;
    display: none;
  }

  #nav-links a {
    display: block;
    margin: 1px;
  }

  .nav-container {
    text-align: center;
  }

  #about-me-link {
    padding-top: 20px;
    border-bottom: 4px solid #bd5a5a;
  }

  #projects-link {
    border-bottom: 4px solid #edc75f;
  }

  #contact-me-link {
    border-bottom: 4px solid #87d3af;
  }

  #gallery-link {
    border-bottom: 4px solid #eae2a2;
  }

  #about-photography-link {
    border-bottom: 4px solid #66b1a2;
  }

  #blog-link {
    border-bottom: 4px solid #a73715;
  }

  h2 {
    font-size: 6vw;
  }

  h3 {
    font-size: 5vw;
    margin-top: -10px;
  }

  p {
    font-size: 4vw;
    margin: -10px 30px 20px 30px;
  }

  img {
    border: 5px solid #eae2a2;
    padding: 15px;
    margin: 10px;
  }

  header,
  .nav-desktop,
  .main-links,
  .about-me-center,
  #my-projects-img,
  .contact-me-desktop,
  .gallery a img,
  .blog img {
    display: none;
  }

  .nav-container {
    text-align: center;
  }

  .nav-mobile {
    overflow: hidden;
    position: relative;
  }

  .nav-mobile #nav-links {
    display: none;
  }

  .mobile-header {
    font-size: 8vw;
    padding-bottom: 10px;
    border-bottom: 3px solid;
    margin: 25px 30px;
  }

  #mobile-about-me-header {
    border-color: #bd5a5a;
  }

  #mobile-projects-header {
    border-color: #edc75f;
  }

  #mobile-contact-me-header {
    border-color: #87d3af;
  }

  #mobile-gallery-header {
    border-color: #eae2a2;
  }

  #mobile-blog-header {
    border-color: #a73715;
  }

  .contact-me-mobile h2 {
    border: 2px solid #87d3af;
    margin: 15px 110px;
    padding: 15px;
    border-radius: 5%;
  }

  .link-container {
    display: flex;
    justify-content: center;
  }

  #generate-link {
    margin-top: -10px;
    margin-left: -25px;
    font-size: 4.5vw;
  }

  .blog {
    height: 200px;
  }

  .comment-box {
    height: 250px;
    margin: 10px 35px;
    padding: 5px;
    border: 3px solid #a73715;
    border-radius: 5px;
  }

  #comment-container li {
    padding: 9px 10px;
    border: 2px solid #a73715;
    border-radius: 5px;
    text-align: left;
    margin: 5px 10px 0 -30px;
    font-size: 4vw;
  }

  #comment-container button {
    float: right;
    margin-top: -5px;
    margin-right: -5px;
  }

  #text-input,
  #name-input {
    padding: 10px;
    width: 74%;
    border: 2px solid #a73715;
    border-radius: 5px;
    background-color: #f3f3ec;
    font-size: 4vw;
  }

  #order,
  #name,
  #max,
  #submit,
  #comment-container button {
    background-color: #a73715;
    color: whitesmoke;
    border: 1px solid #a73715;
    border-radius: 5px;
    padding: 4px;
    font-size: 4vw;
  }

  .comment-feature {
    text-align: left;
    margin-left: 40px;
    font-size: 4.5vw;
  }

  .comment-feature div {
    margin: 10px;
  }

  #submit {
    padding: 10px;
    font: 4vw;
    width: 80%;
  }

  .comment-input input {
    margin-bottom: 8px;
  }
}

@media only screen and (min-width: 769px) {

  header,
  .nav-desktop,
  .main-links,
  .about-me-center,
  #my-projects-img,
  .contact-me-desktop,
  .gallery a img,
  .blog img {
    display:block;
  }

  .nav-mobile,
  .mobile-header,
  #mobile-about-photography,
  .contact-me-mobile {
    display: none;
  }

  html {
    scroll-behavior: smooth;
  }

  #content {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
  }

  h1,
  h2,
  h3,
  p,
  a {
    color: #858484;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  p,
  a {
    font-size: 17px;
  }

  header {
    width: 100%;
    height: 50px;
  }

  .main-header {
    font-size: 36px;
    text-align: center;
    animation: down 2s linear .9s;
  }

  .nav-desktop {
    text-align: center;
    margin-bottom: 15px;
    animation: fade-in 2s linear .9s;
  }

  .nav-desktop a {
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
  }

  a:hover {
    color:#b8b8b8;
  }

  a:hover img {
    box-shadow: 2px 2px 10px 8px #d6d6d6da;
    transition: all .3s ease;
  }

  .main-links {
    text-align: center;
    margin-bottom: 100px;
  }

  .main-links div {
    display: flex;
    justify-content: space-evenly;
  }

  .first-row {
    animation: right 2s linear .9s;
  }

  .second-row {
    animation: left 2s linear .9s;  
  }

  img {
    margin: 8px 0px;
  }

  #gallery-main-link {
    margin-top: -42px;
  }

  #blog-main-link {
    margin-top: -42px;
  }

  .arrow-transition {
    border: solid #b8b8b8;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(45deg);
    animation: fade-in 2s linear .9s;
  }

  .arrow-transition:hover {
    border: solid #858484;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(45deg);
  }

  .about-me {
    height: 350px;
    display: flex;
    justify-content: space-between;
  }

  .about-me-left {
    margin: 10px 40px;
    animation: right 2s linear .9s;
  }

  .about-me-center {
    animation: fade-in 2s linear .9s;
  }

  .about-me-right {
    margin: 55px 40px;
    animation: left 2s linear .9s;
  }

  .projects {
    height: 550px;
  }

  .project-description {
    padding-top: 40px;
    margin-left: 470px;
  }

  #my-projects-img {
    float: left;
    margin: 130px 20px 0 0;
    animation: right 2s linear .9s;
  }

  #tag-cloud-generator {
    animation: down 1.3s linear .9s;
  }

  #gpa-calculator {
    animation: down 1.3s linear 1s; 
  }

  #mysite {
    animation: down 1.3s linear 1.1s;
  }

  .contact-me-desktop {
    height: 250px;
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
  }

  #contact-me-img {
    animation: fade-in 1.5s linear .8s; 
  }

  #linkedin-img {
    animation: fade-in 1.5s linear 1s;  
  }

  #github-img {
    animation: fade-in 1.5s linear 1.2s;  
  }

  .gallery {
    height: 525px;
  }

  #gallery-about-img {
    position: absolute;
    margin-top: 80px;
    animation: right 2s linear .9s;
  }

  #about-my-photography {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    position: relative;
    color: #f7f8e9;
    padding-top: 185px;
    margin: 0px 680px 0 115px;
  }

  .gallery-imgs img {
    position: absolute;
  }

  #puzzle-img {
    margin: -265px 0 0 360px;
    animation: down 2s linear .9s;
  }

  #mirror-img {
    margin: -205px 0 0 565px;
    z-index: +1;
    animation: up 2s linear .9s;
  }

  #bench-img {
    margin: -245px 0 0 765px;
    animation: down 2s linear .9s;
  }

  .blog {
    height: 590px;
  }

  .blog a {
    display: flex;
    justify-content: space-evenly;
    margin: 0 20px;
  }

  #blog-img-left {
    animation: right 2s linear .9s;  
  }

  #blog-img-center {
    animation: fade-in 2s linear .9s;  
  }

  #blog-img-right {
    animation: left 2s linear .9s;  
  }

  .blog-entry {
    margin-left: 60px;
    margin-right: 60px;
  }

  .blog-entry h3 {
    margin-top: -10px;
  }

  .blog-entry p {
    font-size: 18px;
  }

  .link-container {
    display: flex;
    justify-content: left;
    overflow: none;
  }

  .link-container p {
    margin-top: -2px;
  }

  #generate-link {
    margin-left: 6px;
  }

  .comment-section {
    width: 90%;
    height: 30%;
    padding-top: 45px;
  }

  .comment-section,
  .comment-box {
    margin-left: auto;
    margin-right: auto;
  }

  .comment-feature {
    float: right;
    margin: 20px 100px 10px 0;
  }

  .comment-feature div {
    margin-bottom: 5px;
  }

  .comment-box {
    background-color: rgb(245, 244, 237);
    width: 77%;
    height: 330px;
    margin-top: 130px;
    border: 2px solid #a73715;
    padding: 5px 0 30px 0;
  }

  .comment-box h2 {
    padding-left: 30px;  
  }

  .comment-input {
    border: 2px solid #a73715;  
    width: 70%;
    padding: 0 30px 20px 30px;
    margin-left: auto;
    margin-right: auto;
  }

  #name-input {
    width: 15%;
  }

  #text-input {
    width: 70%;
  }

  #text-input,
  #name-input {
    background-color: rgb(245, 244, 237);
    border: 2px solid #a73715;
    margin-bottom: 8px;
  }  

  #text-input,
  #comment-container li,
  #name-input {
    font-size: 17px;
    color: #666464;
    padding: 13px;
  }

  #submit {
    width: 100px;
    padding: 11px;
    margin: 5px 0;
    border: solid #a73715;
  }

  .comment-text-design,
  #comment-container button {
    font-size: 17px;
    font-weight: bold;
  }

  #max,
  #order,
  #name {
    font-size: 16px;
    border: 1px solid #b8b8b8;
    padding: 2px 5px;
  }

  #max:hover,
  #order:hover,
  #name:hover {
    background-color: whitesmoke;
  }

  #order {
    margin-right: 10px;
  }

  #comment-container li {
    border-bottom: 2px solid #a73715;
    margin: 5px 30px 5px -5px;
  }

  #comment-container li:hover {
    box-shadow: 2px 2px 10px 8px #b8b8b8;
  }

  #comment-container button {
    font-size: 15px;
    float: right;
    border: 1px solid #858484;
    padding: 6px;
    margin-top: -6px;
  }
  
  #comment-container button,
  #submit {
    background-color: #a73715;
    color: whitesmoke;
  }

  #comment-container button:hover,
  #submit:hover {
    background-color: #b8b8b8;
    border-color: #b8b8b8;
  }

  @keyframes right { 
    from {opacity:0;}
    to   {opacity:1;}   
    0%   {transform: translateX(-1rem);}
    100% {transform: translateX(0);}
  }

  @keyframes left { 
    from {opacity:0;}
    to   {opacity:1;} 
    0%   {transform: translateX(1rem);}
    100% {transform: translateX(0);}
  }

  @keyframes fade-in {
    from {opacity:0;}
    to   {opacity:1;} 
  }

  @keyframes up { 
    from {opacity:0;}
    to   {opacity:1;}   
    0%   {transform: translateY(1rem);}
    100% {transform: translateY(0);}
  }

  @keyframes down { 
    from {opacity:0;}
    to   {opacity:1;}   
    0%   {transform: translateY(-1rem);}
    100% {transform: translateY(0);}
  }
}