body {
  background-color: #f3f3ec;
}

h1,
h2,
h3,
p,
a {
  color: #858484;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 769px) {

  #content {
    text-align: center;
  }

  h2 {
    font-size: 6vw;
  }

  h3 {
    font-size: 5vw;
    margin-top: -10px;
  }

  p {
    font-size: 4vw;
    margin: -10px 30px 20px 30px;
  }

  img {
    border: 5px solid #eae2a2;
    padding: 15px;
    margin: 10px;
  }

  header,
  .nav-desktop,
  .main-links,
  .about-me-center,
  #my-projects-img,
  .contact-me-desktop,
  .gallery a img,
  .blog img {
    display: none;
  }

  .nav-container {
    text-align: center;
  }

  .nav-mobile {
    overflow: hidden;
    position: relative;
  }

  .nav-mobile #nav-links {
    display: none;
  }

  .mobile-header {
    font-size: 8vw;
    padding-bottom: 10px;
    border-bottom: 3px solid;
    margin: 25px 30px;
  }

  #mobile-about-me-header {
    border-color: #bd5a5a;
  }

  #mobile-projects-header {
    border-color: #edc75f;
  }

  #mobile-contact-me-header {
    border-color: #87d3af;
  }

  #mobile-gallery-header {
    border-color: #eae2a2;
  }

  #mobile-blog-header {
    border-color: #a73715;
  }

  .contact-me-mobile h2 {
    border: 2px solid #87d3af;
    margin: 15px 110px;
    padding: 15px;
    border-radius: 5%;
  }

  .link-container {
    display: flex;
    justify-content: center;
  }

  #generate-link {
    margin-top: -10px;
    margin-left: -25px;
    font-size: 4.5vw;
  }

  .blog {
    height: 200px;
  }
}

@media only screen and (min-width: 769px) {

  header,
  .nav-desktop,
  .main-links,
  .about-me-center,
  #my-projects-img,
  .contact-me-desktop,
  .gallery a img,
  .blog img {
    display:block;
  }

  .nav-mobile,
  .mobile-header,
  #mobile-about-photography,
  .contact-me-mobile {
    display: none;
  }

  html {
    scroll-behavior: smooth;
  }

  #content {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
  }

  h1,
  h2,
  h3,
  p,
  a {
    color: #858484;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  p,
  a {
    font-size: 17px;
  }

  header {
    width: 100%;
    height: 50px;
  }

  .main-header {
    font-size: 36px;
    text-align: center;
  }

  .nav-desktop {
    text-align: center;
    margin-bottom: 15px;
  }

  .nav-desktop a {
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
  }

  a:hover {
    color:#b8b8b8;
  }

  a:hover img {
    box-shadow: 2px 2px 10px 8px #d6d6d6da;
    transition: all .3s ease;
  }

  .main-links {
    text-align: center;
    margin-bottom: 100px;
  }

  .main-links div {
    display: flex;
    justify-content: space-evenly;
  }

  img {
    margin: 8px 0px;
  }

  #gallery-main-link {
    margin-top: -42px;
  }

  #blog-main-link {
    margin-top: -42px;
  }

  .arrow-transition {
    border: solid #b8b8b8;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(45deg);
  }

  .arrow-transition:hover {
    border: solid #858484;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(45deg);
  }

  .about-me {
    height: 350px;
    display: flex;
    justify-content: space-between;
  }

  .about-me-left {
    margin: 10px 40px;
  }

  .about-me-right {
    margin: 55px 40px;
  }

  .projects {
    height: 550px;
  }

  .project-description {
    padding-top: 40px;
    margin-left: 470px;
  }

  #my-projects-img {
    float: left;
    margin: 130px 20px 0 0;
  }

  .contact-me-desktop {
    height: 250px;
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
  }

  .gallery {
    height: 525px;
  }

  #gallery-about-img {
    position: absolute;
    margin-top: 80px;
  }

  #about-my-photography {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    position: relative;
    color: #f7f8e9;
    padding-top: 185px;
    margin: 0px 680px 0 115px;
  }

  .gallery-imgs img {
    position: absolute;
  }

  #puzzle-img {
    margin: -265px 0 0 360px;
  }

  #mirror-img {
    margin: -205px 0 0 565px;
    z-index: +1;
  }

  #bench-img {
    margin: -245px 0 0 765px;
  }

  .blog {
    height: 390px;
  }

  .blog a {
    display: flex;
    justify-content: space-evenly;
    margin: 0 20px;
  }

  .blog-entry {
    margin-left: 60px;
  }

  .blog-entry h3 {
    margin-top: -10px;
  }

  .blog-entry p {
    font-size: 18px;
  }

  .link-container {
    display: flex;
    justify-content: left;
  }

  .link-container p {
    margin-top: -2px;
  }

  #generate-link {
    margin-left: 6px;
  }
}