body {
    background-color: #f3f3ec;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

h1,
h2,
p,
a {
    color: #858484;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    width: 100%;
    height: 50px;
}

.main-header {
    font-size: 36px;
    text-align: center;
}

nav {
    text-align: center;
    margin-bottom: 15px;
}

nav a {
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
}

a {
    text-decoration: none;
}

.main-links {
    text-align: center;
    margin-bottom: 100px;
}

.main-links div {
    display: flex;
    justify-content: space-between;
}

img {
    margin: 8px 0px;
}

#gallery-main-link {
    margin-top: -42px;
}

#blog-main-link {
    margin-top: -42px;
}

.about-me {
    height: 400px;
}

#about-me-img {
    float: left;
    margin: 65px 20px;
}

#about-me-header {
    padding-top: 70px;
}

#about-me-description {
    font-size: 19px;
    margin-top: -8px;
}

.projects {
    height: 500px;
}

.project-description {
    padding-top: 60px;
    margin-left: 470px;
}

#my-projects-img {
    float: left;
    margin: 105px 20px 0 0;
}

.contact-me {
    display: flex;
    justify-content: space-between;
}

.contact-me img {
    margin: 20px 40px;
}

.gallery {
    height: 550px;
}

#gallery-about-img {
    position: absolute;
    margin-top: 80px;
}

#about-my-photography {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    color: #f7f8e9;
    padding-top: 200px;
    margin: 0px 615px 0 185px;
}

.gallery-imgs img {
    position: absolute;
}

#puzzle-img {
    margin: -250px 0 0 385px;
}

#mirror-img {
    margin: -190px 0 0 580px;
    z-index: +1;
}

#bench-img {
    margin: -230px 0 0 780px;
}